// static/css/_footer.scss
.site-footer {
    background: $stprm-bg-fivefold;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-family: $font-body;
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }