// static/css/_variables.scss
$gradient-bg: linear-gradient(315deg, #010101 40%, #5B33F3 160%);
$footer-bg: #010101;
$accent-color: #0048F0;
$font-heading: 'Oswald', sans-serif;
$font-body: 'Inter', sans-serif;

/* Breakpoints */
$breakpoint-mobile: 600px;