// Define color variables
$bg-start: #010101;     // Starting color (black)
$bg-end: #8559FC;       // Ending color (purple)

$button-start: #0048F0; // Starting color (palatinate blue)
$button-hover: #0034d8;
$button-click: #BBA1FD;

// Define typeface variables
$font-logo: 'Helvetica Neue', sans-serif;
$font-titles: 'Oswald', sans-serif;
$font-content: 'Inter', sans-serif;
$font-footer: 'Inter', monospace;

// Ensure the HTML element takes up the full height
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(280deg, $bg-start 40%, $bg-end 160%);
}

body {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: $font-content;
}

// Header Styles
header {
  text-align: center;
  padding: 20px;
  
  img {
    max-width: 200px;
    height: auto;
  }
}

// Main Content Styles
main {
  flex: 1;                    // Grow to fill the space between header and footer
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    // Center the video vertically and horizontally
  padding: 20px;
  
  video {
    width: 80%;
    max-width: 800px;
    border: 3px solid #fff;
    border-radius: 4px;
  }
  
  .socials {
    margin-top: 20px;
    text-align: center;
    
    a {
      color: #ffffff;
      margin: 0 10px;
      font-size: 1.5em; // Increase size for better visibility
      transition: color 0.3s;
      cursor: pointer;  // Indicate interactivity
      text-decoration: none;
  
      &:hover {
        color: lighten($bg-end, 20%);
      }
    }
  }

  // Interest Registration Form Styles
  .interest-form {
    width: 80%;
    max-width: 500px;
    margin: 20px auto; // centers the form horizontally and adds vertical spacing
    text-align: center;

    h2 {
      margin-bottom: 15px;
      font-size: 1.5em;
      font-family: $font-titles;
    }

    form {
      display: flex;
      flex-direction: row;
      align-items: center; // makes the inputs take full width of the container
      justify-content: center;
      flex-wrap: nowrap;

      label {
        margin: 10px 0 5px;
        font-size: 1em;
        text-align: left; // align labels to the left for clarity
      }

      input {
        padding: 10px;
        border: none;
        border-radius: 4px;
        margin-bottom: 15px;
        font-size: 1em;
        margin: 0 5px;
        flex: 1;
        max-width: 200px;
        font-size: 0.7em;
        font-family: $font-content;
      }

      button {
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        background-color: $button-start;
        color: $bg-start; // using one of our defined colors for contrast
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 0 5px;
        // margin-bottom: 15px;
        font-family: $font-titles;

        &:hover {
          background-color: lighten($button-hover, 20%);
        }

        &:active {
          background-color: lighten($button-click, 20%);
        }
      }
    }
  }
}

// Footer Styles
footer {
  text-align: center;
  padding: 15px;
  font-family: $font-footer;
  font-size: 0.9em;
  background: transparent;
}
